body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bbqbg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem 0;
}

nav ul {   
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

nav ul button {
    display: inline;
}

nav ul button a {
    text-decoration: none;
    color: black;
}

main {
    padding: 2rem;
    text-align: center;
    font-size: 22px;
    color: aliceblue;
}
.form-group input{
    text-align: center;
    display: block;
    width: 409px;
    padding: 9px;
    border: 2px solid black;
    margin: 7px auto;
    font-size: large;
    border-radius: 12px;
}
.btn{
    margin: 0px -12px;
    background-color: black;
    color: white;
    padding: 5px 14px;
    border: 2px solid grey;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

.btn :hover{
    background-color: gray;
}
ul li{
    list-style-type: none;
}